<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="header-navbar">
    <%= link_to "Expense Log", root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><#%= link_to "Expense Log", root_url %></li> -->
        <li><%= link_to "Expenses", '/expenses' %></li>
        <li><%= link_to "Users", '/users' %></li>
      </ul>
    </nav>
  </div>
</header>